# ================= CORE API =================
fastapi
uvicorn[standard]
pydantic

# ================= COMPUTER VISION =================
opencv-python
numpy
Pillow
imageio

# ================= AI / FACE RECOGNITION =================
insightface
onnxruntime-gpu
pygame

# ================= YOLO =================
ultralytics

roboflow

# ================= AUDIO =================
gTTS
pydub


# pip install -r requirements.txt